# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

Chat/*
screenshots/
Setup.md

Archives/
Xplugins
XXXplugins
shapes/

Chat-SVG/

app/components/SandstoneLogo-Bolt.vue
app/components/SandstoneLogo-Replit.vue
app/components/SandstoneLogo-V0.vue
app/components/SandstoneLogo-sMWA.vue
app/components/SandstoneLogo-v3.vue