body {
  font-family: system-ui;
  background: #f06d06;

  color: white;
  text-align: center;
}

.wrapper {
  /* background-image: url(
    './assets/images/store/image-exterior.jpeg'
    ); */
  background-image: url(
    './assets/images/store/exterior-with-chairs-v5-246kb_TP9x.webp'
    );
  border: 1px solid black;
  height: 100%;
  overflow: hidden;
  background-size: 100vw 100vh;
  background-repeat:   no-repeat;
  background-position: center center; 
}

.wrapper path {

  fill: none;
  /* fill: green; */
  /* fill-opacity: 0.5; */
  stroke: white; 
  stroke-linecap: round;
  /* stroke-opacity: 0.5; */
  stroke-width: 38; 
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-direction: normal;
}
.wrapper #s-path {
  stroke-dasharray: 5838;
  animation-name: writeS;
}
@keyframes writeS {
  0% {
    stroke-dashoffset: 5838;
  }
  40% {
    stroke-dashoffset: 0;
  }
}
.wrapper #andstone-path {
  stroke-dasharray: 8577;
  animation-name: writeAndStone;
}

@keyframes writeAndStone {
  0%,
  20% {
    stroke-dashoffset: 8577;
  }
  90% {
    stroke-dashoffset: 0;
  }
}
.wrapper #t-cross-path {
  stroke-dasharray: 868;
  animation-name: writeTCross;
}

@keyframes writeTCross {
  0%,
  91% {
    stroke-dashoffset: 868;
  }
  93% {
    stroke-dashoffset: 0;
  }
}

.wrapper #underline {
  stroke-dasharray: 2212;
  animation-name: writeUnderline;
}
@keyframes writeUnderline {
  0%,
  94% {
    stroke-dashoffset: 2212;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
